<!--HEADER-->
<section class="hero has-background-primary-dark">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="assets/alampat-icon.ico" alt="alampatIcon" width="29">
                    </a>
                    <span class="navbar-item has-text-white">
                        ALAMPAT
                    </span>
                    <span class="navbar-burger" data-target="navbarMenuHeroA">
                    <span></span>
                    <span></span>
                    <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item has-text-white">
                            Marketplace
                        </a>
                        <a class="navbar-item has-text-white">
                            Commissions
                        </a>
                        <a class="navbar-item has-text-white">
                            My Account
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

</section>

<!-- PROFILE PICTURE and NAME-->
<section class="section">
    <div class="container">
        <div class="tile is-ancestor ">
            <div class="tile is-8 is-parent">
                <div class="tile is-3 is-child"><!--EMPTY SPACE--></div>
                <div class="tile is-1 is-child">
                    <figure class="image is-64x64">
                        <img class="is-rounded" src="http://reactionimage.org/img/gallery/918476615.jpg">
                    </figure>
                </div>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <div class="tile is-5 is-child">
                    <p class="title">
                        Carl Josiah Ocampo
                    </p>
                    <p class="subtitle">
                        My Account - Buyer
                    </p>
                </div>
                <div class="tile is-5 is-child"><!--EMPTY SPACE--></div>
                <div class="tile is-1 is-child has-text-right">
                    <button class="button is-warning is-light is-small is-outlined">
                        <strong>Edit</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ACCOUNT INFO -->
<div class="container">
    <div class="tile is-ancestor">
        <div class="tile is-2 is-child"><!--EMPTY SPACE--></div>
        <div class="tile is-8 is-parent notification">
            <div class="tile is-child">
                <p>Shipping Address: </p>
                <p>&nbsp;</p>
                <p>Phone Number: </p>
                <p>Email Address: </p>
            </div>
        </div>
        <div class="tile is-2 is-child"><!--EMPTY SPACE--></div>
    </div>
</div>