<style>
    html {
      scroll-behavior: smooth;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
    }
  
    .span-spaces {
      padding-left: 5px;
      padding-right: 10px;
    }
</style>

<app-headerbuyer></app-headerbuyer>

<!-- PROFILE PICTURE and NAME-->
<section>
    <div class="container">
        <div class="tile is-ancestor ">
            <div class="tile is-8 is-parent">
                <div class="tile is-3 is-child"><!--EMPTY SPACE--></div>
                <div class="tile is-1 is-child">
                    <figure class="image is-64x64">
                        <img class="is-rounded" [src]= "imageSRC">
                    </figure>
                </div>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <div class="tile is-5 is-child">
                    <p class="title">
                        {{user?.name}}
                    </p>
                    <p class="subtitle">
                        <button class="button is-small is-rounded is-static"><strong>Buyer Account</strong></button>
                    </p>
                </div>

                <!-- EDIT BUTTON -->
                <div class="tile is-5 is-child"><!--EMPTY SPACE--></div>
                <div class="tile is-5 is child">
                    <div class="buttons is-right">
                        <button (click)="onClickEditAccountBuyer();" class="button is-warning is-light is-small is-outlined">
                            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                            &nbsp;
                            <strong>Edit</strong>
                            
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ACCOUNT INFO -->
<!-- info will most likely be linked from the database-->
<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="box" style="width: 800px">
            <div class="field">
                <label class="label ">Email Address</label>
                <div class="control has-icons-left">
                    <textarea class="textarea has-fixed-size" rows="1" readonly>{{user?.email}}</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label ">Password</label>
                <div class="control has-icons-left">
                    <textarea class="textarea has-fixed-size" rows="1" readonly>{{user?.password}}</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label ">Phone Number</label>
                <div class="control">
                    <textarea class="textarea has-fixed-size" rows="1" readonly>{{user?.phoneNumber}}</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label ">Shipping Address</label>
                <div class="control">
                    <textarea class="textarea" rows="1" readonly>{{user?.address}}</textarea>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>

<!-- links to other pages and modals -->
<app-editaccountbuyer [openEditAccountBuyerModal] = 'showEditAccountBuyerModal'></app-editaccountbuyer>