<style>
    html {
      scroll-behavior: smooth;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
    }
  
    .span-spaces {
      padding-left: 5px;
      padding-right: 10px;
    }
</style>

<!--HEADER-->
<section class="section">
    <nav class="navbar is-primary is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="assets/alampat-icon.ico" alt="alampatIcon" width="29">
                </a>
                <a class="navbar-item ">
                    ALAMPAT
                </a>
                <span class="navbar-burger" data-target="navbarMenuHeroA">
                    <span> </span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div class="navbar-menu" id="navbarMenuHeroA">
                <div class="navbar-end">
                    <a class="navbar-item ">
                        Orders
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable is-right">
                        <a class="navbar-link ">
                            Seller Shop
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Hatdog
                            </a>
                            <a class="navbar-item">
                                Hamburjer
                            </a>
                            <a class="navbar-item">
                                Hamonada
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>

<!-- PROFILE PICTURE and NAME-->
<section>
    <div class="container">
        <div class="tile is-ancestor ">
            <div class="tile is-8 is-parent">
                <div class="tile is-3 is-child"><!--EMPTY SPACE--></div>
                <div class="tile is-1 is-child">
                    <figure class="image is-64x64">
                        <img class="is-rounded" src="https://akns-images.eonline.com/eol_images/Entire_Site/20181118/rs_600x600-181218181759-e-asia-catriona-gray-beauty-icon-thumbnail.jpg?fit=around%7C1080:1080&output-quality=90&crop=1080:1080;center,top">
                    </figure>
                </div>
                <span>&nbsp;&nbsp;&nbsp;</span>
                <div class="tile is-5 is-child">
                    <p class="title">
                        Aileen Joan Vicente
                    </p>
                    <p class="subtitle">
                        <button class="button is-small is-rounded is-static"><strong>Seller Account</strong></button>
                    </p>
                </div>
                <!-- EDIT, SAVE, CANCEL BUTTONS -->
                <div class="tile is-3 is-child"><!--EMPTY SPACE--></div>
                <div class="tile is-5 is child">
                    <div class="buttons is-right">
                        &nbsp; &nbsp;
                        <button class="button is-warning is-light is-small is-outlined">
                            <strong>Edit</strong>
                        </button>
                        &nbsp;
                        <!-- SAVE and CANCEL is yet to be programmed when EDIT is clicked-->
                        <button class="button is-success is-small">
                            <strong>Save</strong>
                        </button>
                        &nbsp;
                        <button class="button is-danger is-small">
                            <strong>Cancel</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ACCOUNT INFO -->
<!-- info will most likely be linked from the database-->
<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="box" style="width: 800px">
            <div class="field">
                <label class="label ">Portfolio</label>
                <div class="control has-icons-left">
                    <div class="buttons is-right">
                        <button class="button is-small is-outlined is-light is-warning">
                            <strong>Create Portfolio</strong>
                        </button>
                        <button class="button is-small is-outlined is-light is-info">
                            <strong>Edit Portfolio</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="columns is-mobile is-centered">
        <div class="box" style="width: 800px">
            <div class="field">
                <label class="label ">My Products</label>
                <div class="control has-icons-left">
                    <div class="buttons is-right">
                        <button class="button is-small is-outlined is-light is-warning">
                            <strong>Add Products</strong>
                        </button>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="columns is-mobile is-centered">
        <div class="box" style="width: 800px">
            <div class="field">
                <label class="label ">My Services</label>
                <div class="control has-icons-left">
                    <div class="buttons is-right">
                        <button class="button is-small is-outlined is-light is-warning">
                            <strong>Add Services</strong>
                        </button>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    &nbsp;
    <div class="columns is-mobile is-centered">
        <div class="box" style="width: 800px">
            <div class="field">
                <label class="label ">Shop Rating</label>
            </div>
        </div>
    </div>
</section>