<div class="modal" [ngClass]="openEditAccountBuyerModal ? 'is-active' : ''"> <!--insert "is-active" to view modal-->
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"><strong>Edit Account</strong></p>
            <button (click)="onClickExit()" class="delete" aria-label="close"></button>
        </header>
        <!-- Modal Content -->
        <section class="modal-card-body">
            <form [formGroup]="editAccountBuyerForm" (ngSubmit)="editAccountBuyer()" novalidate autocomplete="false">
                <div class="field is-grouped is-grouped-centered">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="http://reactionimage.org/img/gallery/918476615.jpg">
                    </figure>
                </div>
                <div class="field has-text-centered">
                    <button (click)="onClickChangePhoto()" class="button is-small is-light is-warning is-outlined">
                        <strong>Change Profile Picture</strong>
                    </button>
                </div>
            
                <!-- Placeholders should be linked with the actual data from database -->
                <div class="field">
                    <label class="label ">Name</label>
                    <div class="control">
                        <input [ngClass]="{ 'has-error': formControls.name?.errors }" class="input" formControlName="name" placeholder="Unchanged">
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Email</label>
                    <div class="control">
                        <input [ngClass]="{ 'has-error': formControls.email?.errors }" class="input" type="email" formControlName="email" placeholder="Unchanged">
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Password</label>
                    <div class="control">
                        <input [ngClass]="{ 'has-error': formControls.password?.errors }" class="input" type="password" formControlName="password" placeholder="Unchanged">
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Phone Number</label>
                    <div class="control">
                        <input [ngClass]="{ 'has-error': formControls.phoneNumber?.errors }" class="input" type="phone number" formControlName="phoneNumber" placeholder="Unchanged">
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Shipping Address</label>
                    <div class="control">
                        <input [ngClass]="{ 'has-error': formControls.address?.errors }" class="input" formControlName="address" placeholder="Unchanged">
                    </div>
                </div>
            </form>
        </section>
        <!-- Footer Buttons -->
        <footer class="modal-card-foot">
            <div class="tile"></div>
            <button (click)="onClickSave()" class="button is-small is-success is-outlined">Save</button>
            <button (click)="onClickExit()" class="button is-small is-danger is-outlined">Cancel</button>
        </footer>
    </div>
</div>