<style>

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  .card svg.material-icons path {
    fill: #ddeee7;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .card {
    border-radius: 20px;
    background-color: #d14734 ;
    height: 35px;
    width: 130px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: #c46c0c ;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  .bg-img { 
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: flex;
        background-size:  cover;

 }



</style>

<section class="hero is-halfheight">
    <!-- Hero head: will stick at the top -->
   <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="assets/alampat-icon.ico" alt="hakdog" width="29" >
            </a>
            <span class="navbar-item">
              ALAMPAT
            </span>
            <span class="navbar-burger" data-target="navbarMenuHeroA">
              <span> </span>
              <span></span>
              <span></span>
            </span> 
          </div> 
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Log In
              </a>
              <a class="navbar-item">
                Sign Up
              </a>
            </div>
          </div>
        </div>
      </nav>
      
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered has-text-weight-bold">
        <p class="title is-size-1 is-family-primary">
          Welcome to
        </p>
        
            <figure class="image has-ratio">
              <img src="assets/alogo.png">
            </figure>
        
        <p class="subtitle is-italic">
          "Where art flows from the heart."
        </p>
      </div>
    </div>


  </section> 




<section class="background-image">

  
    <img src="assets/bg.png">
  
<!-- Login form -->
<div class="container has-text-centered">
  <p class="title ">
    Log In
  </p>
  <span> </span>
  <span></span>
  <span></span>
</div> 

<div class = "columns is-mobile is-centered">
 
  <form class="box" style="width: 450px">
      <div class="field">
          <label class="label ">Email</label>
          <div class="control">
          <input class="input" type="email" placeholder="e.g. alex@example.com">
          
        </div>
      </div>

      <div class="field">
          <label class="label">Password</label>
          <div class="control">
          <input class="input" type="password" placeholder="********">
          </div>
      </div>

      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a class="button is-primary is-hovered is-rounded">
            LOG IN
          </a>
        </p>
      </div>
  </form>
</div>

</section>

<!-- Sign-up button-->

<div class="card-container">
  <p class="subtitle is-5 has-text-centered">
    Don't have an account yet?
  </p>
  <a class="card" target="_blank" rel="noopener" >

    <span>Sign Up</span>

    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>   

  </a>
</div>

<!-- footer-->
<footer class="footer">
  <div class="container has-text-right">
      <a > </a><strong>ALAMPAT </strong> <a >© 2021 Wintergreen</a>
  </div>
</footer>