<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered"> 
            <span class="icon is-inline-block is-centered">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#48c774" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                <i class="bi bi-person-check-fill"></i>
            </span>
            <p class="subtitle is-family-primary mt-2">
                Your account has been <strong>successfully</strong> registered!
            </p>
            <span class="field">
                <p class="control">
                    <button class="button button1 is-hovered is-rounded is-success" type="submit">
                        CONTINUE
                    </button>
                </p>  
            </span>   
        </div>
    </div>
</section>



