<div class="modal" [ngClass]="openEditAccountSellerModal ? 'is-active' : ''"> <!--insert "is-active" to view modal-->
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"><strong>Edit Account</strong></p>
            <button (click)="onClickExit()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field is-grouped is-grouped-centered">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="https://akns-images.eonline.com/eol_images/Entire_Site/20181118/rs_600x600-181218181759-e-asia-catriona-gray-beauty-icon-thumbnail.jpg?fit=around%7C1080:1080&output-quality=90&crop=1080:1080;center,top">
                </figure>
            </div>
            <div class="field has-text-centered">
                <button class="button is-small is-light is-warning">Change Profile Picture</button>
            </div>
            <form novalidate>
                <!-- Placeholders should be linked with the actual data from database -->
                <div class="field">
                    <label class="label ">Name</label>
                    <div class="control">
                        <input formControlName="name" class="input" type="name" placeholder="Aileen Joan Vicente">
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Email</label>
                    <div class="control">
                        <input formControlName="email" class="input" type="email" placeholder="missaileengray@gmail.com">
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Password</label>
                    <div class="control">
                        <input formControlName="password" class="input" type="password" placeholder="***************">
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Phone Number</label>
                    <div class="control">
                        <input formControlName="phoneNumber" class="input" type="phone number"
                            placeholder="09123456789">
                    </div>
                </div>

                <div class="field">
                    <label class="label ">Seller Description</label>
                    <div class="control">
                        <input formControlName="address" class="input" type="address"
                            placeholder="Example: I make artistic replicas of Minecraft objects.">
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <div class="tile"></div>
            <button (click)="onClickSave()" class="button is-small is-success is-outlined">Save</button>
            <button (click)="onClickExit()" class="button is-small is-danger is-outlined">Cancel</button>
        </footer>
    </div>
</div>